["Five Languages:"
 {
  "HTTP Routing (https://eclipse.org/Xtext/documentation/206_httprouting.html)"
  [[GET ["guess" :theGuess] {} (ctrl/handle-guess :theGuess)]
   [GET ["guess"] {} (ctrl/handle-guess (request/query "theGuess"))]
   [GET [] {} (ctrl/handle-guess nil)]
   [POST ["employee"] {"content-type" "application/json"} (ctrl/add-employee request/json)]
   [POST ["employee"] {"content-type" "application/x-www-form-urlencoded"} (ctrl/add-employee request/params)]
   [GET ["employee" :id] {} (ctrl/get-employee :id)]
   [GET ["employees"] {} (ctrl/get-employees)]
   [GET ["employees" :field :value] {} (ctrl/get-employees-by :field :value)]
   [PUT ["employee" :id] {"content-type" "application/json"} (ctrl/update-employee :id request/json)]
   [PUT ["employee" :id] {"content-type" "application/x-www-form-urlencoded"} (ctrl/update-employee :id request/params)]
   [DELETE ["employee" :id] {} (ctrl/delete-employee :id)]]

  "Domain Definition Language (https://eclipse.org/Xtext/documentation/204_mongodb.html)"
  [
   {
    Artist {
            name [text {:max-size 32}]
            albums */Album
            }
    Album {
           title [text {:max-size 128}]
           year ?/int
           tracks */Track
           }
    Track {
           title [text {:max-size 128}]
           duration duration
           }
    }
   { Student [{
               id int
               first-name [text {:max-size 32}]
               last-name [text {:max-size 32}]
               }
              {:id id}]
    Enrollment [{
                 student $/Student
                 section $/Section
                 }
                {:unique [student section]}]
    Course [{
             code int
             name [text {:max-size 32}]
             description [text {:max-size 8196}]
             credits [int {:min 1}]
             department $/Department
             }
            {:id code}]
    Prerequisite [{
                   course $/Course
                   prerequisite $/Course
                   }
                  {:unique [course prerequisite]}]
    Department [{
                 code int
                 name [text {:max-size 64}]
                 }
                {:id code}]
    Instructor [{
                 id int
                 first-name [text {:max-size 32}]
                 last-name [text {:max-size 32}]
                 department $/Department
                 }
                {:id id}]
    Available-To-Instruct {
                           course $/Course
                           instructor $/Instructor
                           }
    Section [{
              id int
              term [Term {:format ":semester :year"}]
              building $/Building
              time time
              course $/Course
              instructor $/Instructor
              room-number int
              }
             {:id id}]
    Term {
          year [int {:min 1900 :max 2100}]
          semester [text "FALL" "SPRING" "SUMMER"]
          }
    Building {
              name [text {:max-size 128}]
              address Address
              }
    Address {
             street1 [text {:max-size 128}]
             street2 [?/text {:max-size 32}]
             city [text {:max-size 128}]
             state [text "WI" "MN" "AK"]
             zip int
             }
    }
   ]

  "Query Language"
  [{Select * From quantity_limit}
   {Select {list_count (count *)} From form.formulary_load Where (= file_load_id :file-load-id)}
   {Select w/*
    From [l/form.formulary_load
          Inner-Join w/form.formulary_webdav (= l/formulary_load_id w/formulary_load_id)]
    Where (and (= l/management_status "A")
            (<= l/effective_date :effective-date)
            (= w/version :version)
            (= w/rollup_drug_db :rollup-drug-db)
            (= l/publisher :publisher)
            (= l/list_id :list-id)
            (= l/type :type)
            (is-null l/sub_type))
    Order-By [{l/effective_date desc}]}
   {Select *
    From form.rfs_load
    Where (or (modified_date > :min-mod-date) (and (modified_date = :mod-date) (rfs_load_id > :rfs-load-id)))
    Order-By [modified_date rfs_load_id]
    Limit :limit}
   ]

  "Build Language (https://eclipse.org/Xtext/documentation/203_builddsl.html)"
  [
   (!= :project (file 'example-project'))
   (!= :source (file :project 'src'))
   (!= :target (file :project 'target'))
   (!= :jar (file :project 'result' 'foo.jar'))
   {
    Zip [[Compile]
         (zip :target :jar)
         ]
    Compile [[Clean]
             (javac (list :source) :target)
             ]
    Run [[Zip]
         (!= :classpath (new-classpath :jar))
         (!= :class (load-class :classpath "helloworld.HelloWorld"))
         (run-main :class)
         ]
    Clean [
           (delete-contents :target)
           (delete :jar)
           ]
    }
   ]

  "Tortoise (https://eclipse.org/Xtext/documentation/208_tortoise.html)"
  [
   {square [[:length]
            [(for :x (1 ... 4)
               (forward :length)
               (turn-right 90))]]}
   [(!= :length 150)
    (!= :diagonal (:length * (sqrt 2)))
    (!= :line-width 2)
    (square :length)
    (turn-right 45)
    (!= :line-color "blue")
    (forward :diagonal)
    (turn-left 90)
    (!= :line-color "red")
    (forward (:diagonal / 2))
    (turn-left 90)
    (forward (:diagonal / 2))
    (turn-left 90)
    (!= :line-color "blue")
    (forward :diagonal)]]

  "Template (https://eclipse.org/Xtext/documentation/207_template.html)"
  [html {lang "en"}
   [head
    [meta {charset "utf-8"}]
    [title :title]
    [meta {name "viewport" content "width=device-width, initial-scale=1.0"}]
    [meta {name "description" content :description}]
    [meta {name "author" content :author}]]
   [body
    ({:sections :element}
      [div {class "section"}
       [h1 :element/title]
       ((not-nil? :element/description)
         [p :element/description])])]]

  "Draw"
  (draw [250 250]
    (rect [25 25] [200 200] (fill :lime) (stroke-width 4) (stroke :pink))
    (circle [125 125] 75 (fill :orange))
    (polyline [[50 150] [50 200] [200 200] [200 100]] (stroke :red) (stroke-width 4) (fill :none))
    (line [50 50] [200 200] (stroke :blue) (stroke-width 4)))

  "Grammar/Syntax"
  [{grammar/name "Domain Definition"
    grammar/root map/classes
    grammar/syntax {map/classes {symbol/class-name #{map/class vector/class-and-constraints}}
                    vector/class-and-constraints (map/class map/class-constraints)
                    map/class {symbol/field-name #{symbol/type vector/field-constraints}}
                    vector/field-constraints (symbol/type #{map/constraint-map (string/enum-option [& string/enum-option])})
                    map/constraint-map {[:max-size] int/max-size
                                        [:min] #{int/min-int}
                                        [:max] #{int/max-int}
                                        [:max] string/string-format}
                    map/class-constraints {[:id] symbol/id
                                           [:unique] vector/unique-fields}
                    vector/unique-fields (symbol/unique-field [& symbol/unique-field])}}
   {grammar/name "HTTP Routing"
    grammar/root vector/routings
    grammar/syntax {vector/routings (vector/routing [& vector/routing])
                    vector/routing (symbol/method vector/path map/headers list/control-expression)
                    symbol/method #{GET POST PUT DELETE PATCH}
                    vector/path [& #{string/step keyword/path-var}]
                    map/headers {string/header-name string/header-value}
                    list/control-expression (symbol/func-name [& #{list/control-expression symbol/request-var keyword/path-var}])}}
   {grammar/name "SQL Wrapper"
    grammar/root map/query
    grammar/syntax {map/query {Select */select-clause
                              [From] */from-clause
                              [Where] list/where-clause
                              [Order-By] */order-by-clause
                              [Limit] #{int/limit keyword/var}}
                    */select-clause #{vector/column-list */column-def symbol/all}
                    symbol/all "*"
                    */column-def #{map/complex-column symbol/column}
                    vector/column-list (*/column-def [& */column-def])
                    map/complex-column {symbol/column-alias #{symbol/column list/column-expression}
                                        constraint/count 1}
                    list/column-expression list/expression
                    list/expression (symbol/operator [& #{symbol/column keyword/var list/expression}])
                    */from-clause #{symbol/table vector/join}
                    vector/join (symbol/table [& #{Inner-Join Left-Outer-Join Right-Outer-Join} symbol/table list/on-expression])
                    list/on-expression list/expression
                    list/where-clause list/expression
                    */order-by-clause #{*/sort-column vector/sort-list}
                    vector/sort-list (*/sort-column [& */sort-column])
                    */sort-column #{symbol/column map/directed-column}
                    map/directed-column {symbol/column #{asc desc}
                                         constraint/count 1}
                    }}
   {grammar/name "XML Short"
    grammar/root vector/node
    grammar/syntax {vector/node (symbol/tag-name [map/attrs] [& #{vector/node symbol/tag-name string/value}])
                    map/attrs {symbol/attr-name literal/attr-value}}}
   {grammar/name "Syntax / Grammar"
    grammar/root map/grammar
    grammar/syntax {map/grammar {symbol/grammar-name string/name
                                 symbol/grammar-root symbol/root-label
                                 symbol/grammar-syntax map/spec}
                    symbol/grammar-name "grammar/name"
                    symbol/grammar-root "grammar/root"
                    symbol/grammar-syntax "grammar/syntax"
                    map/spec {[symbol/wildcard-label] set/wildcard-spec
                              [symbol/map-label] */map-spec
                              [symbol/list-label] #{*/collection-spec symbol/list-label}
                              [symbol/vector-label] #{*/collection-spec symbol/vector-label}
                              [symbol/set-label] set/set-spec
                              [symbol/symbol-label] */symbol-spec
                              [symbol/keyword-label] */keyword-spec
                              [symbol/string-label] */string-spec
                              [symbol/number-label] */number-spec
                              [symbol/int-label] */int-spec
                              [symbol/float-label] */float-spec
                              [symbol/fraction-label] */fraction-spec
                              [symbol/bool-label] */bool-spec
                              [symbol/regex-label] */regex-spec
                              [symbol/literal-label] */literal-spec}
                    symbol/wildcard-root "*/root"
                    symbol/map-root "map/root"
                    symbol/list-root "list/root"
                    symbol/vector-root "vector/root"
                    symbol/set-root "set/root"
                    symbol/wildcard-label ("*" string/entity-name)
                    symbol/map-label ("map" string/entity-name)
                    symbol/list-label ("list" string/entity-name)
                    symbol/vector-label ("vector" string/entity-name)
                    symbol/set-label ("set" string/entity-name)
                    symbol/symbol-label ("symbol" string/entity-name)
                    symbol/keyword-label ("keyword" string/entity-name)
                    symbol/string-label ("string" string/entity-name)
                    symbol/number-label ("number" string/entity-name)
                    symbol/int-label ("int" string/entity-name)
                    symbol/float-label ("float" string/entity-name)
                    symbol/fraction-label ("fraction" string/entity-name)
                    symbol/bool-label ("bool" string/entity-name)
                    symbol/regex-label ("regex" string/entity-name)
                    symbol/literal-label ("literal" string/entity-name)
                    symbol/entity-label (string/entity-namespace string/entity-name)
                    string/entity-namespace #{"*" "map" "list" "vector" "set" "symbol" "keyword" "string" "number" "int" "float" "fraction" "bool" "regex" "literal"}
                    */literal-spec #{*/string-spec */number-spec */int-spec */float-spec */fraction-spec */bool-spec set/literal-spec-opts
                                     symbol/string-label symbol/number-label symbol/int-label symbol/float-label symbol/fraction-label symbol/bool-label}
                    set/literal-spec-opts #{*/string-spec */number-spec */int-spec */float-spec */fraction-spec */bool-spec symbol/string-label symbol/number-label symbol/int-label symbol/float-label symbol/fraction-label symbol/bool-label}
                    */bool-spec #{set/bool-options symbol/value-true symbol/value-false symbol/bool-entity-name}
                    symbol/value-true #"(?i)true"
                    symbol/value-false #"(?i)false"
                    set/bool-options #{(symbol/value-true [symbol/value-false]) (symbol/value-false [symbol/value-true])}
                    */string-spec #{set/string-enum map/string-constraints regex/pattern string/explicit-value symbol/string-label symbol/regex-label}
                    set/string-enum #{regex/pattern string/explicit-value symbol/string-label symbol/regex-label}
                    map/string-constraints {symbol/constraints-max-size #{symbol/entity-name int/max-size}}
                    symbol/constraints-max-size "constraints/max-size"
                    */keyword #{keyword/keyword-value string/keyword-string regex/keyword-template set/keyword-options list/keyword-ns-and-name
                                symbol/keyword-label symbol/string-label symbol/regex-label}
                    set/keyword-options #{keyword/keyword-value string/keyword-string regex/keyword-template list/keyword-ns-and-name symbol/keyword-label symbol/string-label symbol/regex-label}
                    list/keyword-ns-and-name (#{string/ns-string regex/ns-template symbol/string-label symbol/regex-label} #{string/ns-string regex/ns-template symbol/string-label symbol/regex-label})
                    */symbol #{symbol/symbol-value string/symbol-string regex/symbol-template set/symbol-options list/symbol-ns-and-name
                                symbol/symbol-label symbol/string-label symbol/regex-label}
                    set/symbol-options #{symbol/symbol-value string/symbol-string regex/symbol-template list/symbol-ns-and-name symbol/symbol-label symbol/string-label symbol/regex-label}
                    list/symbol-ns-and-name (#{string/ns-string regex/ns-template symbol/string-label symbol/regex-label} #{string/ns-string regex/ns-template symbol/string-label symbol/regex-label})
                    */number-spec #{*/int-spec */float-spec */fraction-spec set/num-spec-options symbol/number-label symbol/int-label symbol/float-label symbol/fraction-label set/num-enum map/num-constraints list/math-expression}
                    set/num-spec-options #{*/int-spec */float-spec */fraction-spec symbol/number-label symbol/int-label symbol/float-label symbol/fraction-label}
                    */int-spec #{set/int-enum map/int-constraints list/math-expression}
                    */float-spec #{set/float-enum map/float-constraints list/math-expression}
                    */fraction-spec #{set/fraction-enum map/fraction-constraints list/math-expression}
                    set/num-enum #{number/value int/value float/value fraction/value symbol/number-label symbol/int-label symbol/float-label symbol/fraction-label}
                    map/num-constraints {[symbol/constraint-max-value] #{number/value symbol/number-label}
                                         [symbol/constraint-min-value] #{number/value symbol/number-label}
                                         [symbol/constraint-step-value] #{number/value symbol/number-label}
                                         [symbol/constraint-pattern] list/math-expression}
                    symbol/constraint-max-value "constraints/max-value"
                    symbol/constraint-min-value "constraints/min-value"
                    symbol/constraint-step-value "constraints/step-value"
                    symbol/constraint-pattern "constraints/pattern"
                    list/math-expression #{(symbol/math-unary-op */math-operand)
                                           (symbol/math-binary-op */math-operand */math-operand)
                                           (symbol/math-ternary-op */math-operand */math-operand */math-operand)}
                    symbol/math-unary-op (math #{ln log10 neg range})
                    symbol/math-binary-op (math #{+ - * / pow log range})
                    symbol/math-ternary-op (math range)
                    */math-operand #{number/value symbol/number-label symbol/math-constant list/math-expression}
                    symbol/math-constant (math #{pi e})
                    set/int-enum #{int/value symbol/int-label}
                    map/int-constraints {[symbol/constraint-max-value] #{int/value symbol/int-label}
                                         [symbol/constraint-min-value] #{int/value symbol/int-label}
                                         [symbol/constraint-step-value] #{int/value symbol/int-label}
                                         [symbol/constraint-pattern] list/math-expression}
                    set/float-enum #{float/value symbol/float-label}
                    map/float-constraints {[symbol/constraint-max-value] #{float/value symbol/float-label}
                                             [symbol/constraint-min-value] #{float/value symbol/float-label}
                                             [symbol/constraint-step-value] #{float/value symbol/float-label}
                                             [symbol/constraint-pattern] list/math-expression}
                    set/fraction-enum (#{fraction/value symbol/fraction-label} #{fraction/value symbol/fraction-label} [& #{fraction/value symbol/fraction-label}])
                    map/fraction-constraints {[symbol/constraint-max-value] #{fraction/value symbol/fraction-label}
                                             [symbol/constraint-min-value] #{fraction/value symbol/fraction-label}
                                             [symbol/constraint-step-value] #{fraction/value symbol/fraction-label}
                                             [symbol/constraint-pattern] list/math-expression}
                    set/set-spec #{symbol/entity-label}
                    */collection-spec #{vector/optional list/non-optional set/collection-options}
                    set/collection-options #{vector/optional list/non-optional}
                    vector/optional #{vector/var-arg vector/optional-head vector/optional-tail}
                    vector/optional-head (#{*/member vector/optional-head} [& */member])
                    vector/optional-tail ([& */member] #{*/member vector/optional-tail})
                    vector/var-arg (symbol/var-arg-prefix */member [& */member])
                    list/non-optional #{([& */member] vector/var-arg)
                                        (vector/var-arg [& */member])
                                        ([& */member] vector/optional-tail)
                                        (vector/optional-head [& */member])
                                        ([& */member] set/tail-options)
                                        (set/head-options [& */member])
                                        (*/member [& */member])}
                    set/tail-options #{*/member vector/var-arg vector/optional-tail}
                    set/head-options #{*/member vector/var-arg vector/optional-head}
                    */member #{set/flat-options symbol/entity-label vector/optional-flat}
                    vector/optional-flat (#{set/flat-options symbol/entity-label} [& #{set/flat-options symbol/entity-label}])
                    set/flat-options #{symbol/entity-label}
                    */map-spec #{map/map-spec-map list/map-spec-list set/map-spec-options}
                    set/map-spec-options #{map/map-spec-map list/map-spec-list}
                    list/map-spec-list (#{map/map-spec-map set/map-spec-options} #{map/map-spec-map set/map-spec-options} [& #{map/map-spec-map set/map-spec-options}])
                    map/map-spec-map {*/map-spec-key */map-spec-value
                                      [symbol/constraint-count] int/value}
                    symbol/constraint-count "constraint/count"
                    */map-spec-key #{vector/optional-key-vector symbol/map-key-symbol keyword/map-key-keyword literal/map-key-literal}
                    vector/optional-key-vector (#{symbol/map-key-symbol keyword/map-key-keyword literal/map-key-literal})
                    symbol/map-key-symbol #{symbol/non-reserved-symbol symbol/string-label symbol/symbol-label symbol/keyword-label symbol/literal-label symbol/number-label symbol/int-label symbol/float-label symbol/fraction-label symbol/bool-label}
                    set/wildcard-spec #{symbol/entity-label}
                    }}
   ]
  }
 ]
